
.icon-user-add:before { content: '\e800'; } /* '' */
.icon-chat-icon:before { content: '\e801'; } /* '' */
.icon-database-stack:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e803'; } /* '' */
.icon-setting-icon:before { content: '\e804'; } /* '' */
.icon-file:before { content: '\e805'; } /* '' */