.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: rgb(230, 238, 244, .4);
  font-family: 'Hind', sans-serif;
}

.wrapper {
  display: flex;
  align-items: stretch;
  width: 100%;
}

#sidebar {
  min-width: 60px;
  background: white;
  color: #5184e7;
  transition: all .3s;
  height: 100%;
  border-right: 1px solid #dddddd;
  position: fixed;
}

#sidebar .sidebar-header{
  background: white;
  text-align: center;
}

.logo-brand {
  width: 40px;
  height: 30px;
  margin-top: 15px;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul li a {
  margin: 30px 0;
  padding: 5px 0;
  display: block;
  font-size: 1.1em;
  text-align: center;
  color: #5184e7;
}

#sidebar ul li a:hover {
  color: #7386d5;
  background: #fff;
  transition: .3s;
  transition-timing-function: ease-in;
}

/* TOPBAR */
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
}

.icon {
  width: 15px;
  height: 15px;
  margin: 0 5px 0 0;
}

.link-invite {
  font-size: 14px;
  padding: 7px;
  margin-top: 10px;
  margin-right: 13px;
  border: 1px solid #5184e7;
  border-radius: 5px;
  color: #5184e7!important;
}

.link-invite:hover {
  transform: translatey(-5%);
  box-shadow: 0px 2px 1px 1px rgb(81, 132, 231, .5);
  cursor: pointer;
  transition: .2s;
  transition-timing-function: ease-out;
}

.bg-light {
  background-color: white!important;
}

.search {
  position: relative;
  background: transparent;
  font-size: 14px;
  display: flex;
  border: none;
}

.search input {
  text-indent: 30px;
}

.fa-search {
  top: 24px;
  font-size: 15px;
  opacity: .6;
}

.topbar{
  padding: 0 0!important;
  margin-left: 60px;
}

nav {
  min-height: 50px!important;
  border-bottom: 1px solid #ddd;
}

/* EVENT LIST PANEL */
.h3 {
  font-weight: lighter;
}

.main-panel .row-panel{
  min-height: 87vh;
}

.side-panel {
  background: white;
  border-left: 1px solid #ddd;
}

.btn-create {
  transform: translateY(-20%);
  border: 1px solid #5184e7;
  border-radius: 3px;
  padding: 2px 5px;
  font-size: 12px;
  background-color: #5184e7;
  color: white;
}

.btn-create:hover {
  color: white;
  background-color: #87a8e9;
  border-color: #87a8e9;
  text-decoration: none;
  transition: .2s;
  transition-timing-function: ease-out;
}

.event-list {
  background: white!important;
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 2px rgb(221, 221, 221, .2);
}

.event-list:hover {
  transform: translateY(-5%);
  transition: .1s;
  transition-timing-function: ease-in;
  cursor: pointer;
  box-shadow: 0px 5px rgb(221, 221, 221, .5);
}

.event-list-contents {
  font-size: 13px!important;
  color: rgb(99, 99, 99);
}

.event-list #img {
  background-image: linear-gradient(125deg, rgb(233, 219, 183), rgb(214, 120, 33), rgb(214, 120, 33));
  padding: 20px 25px!important;
  border-radius: 5px;
}

.event-list #img1 {
  background-image: linear-gradient(125deg, rgb(143, 98, 227), rgb(95, 33, 198));
  padding: 20px 32px!important;
  border-radius: 5px;
}

.event-list #img2 {
  background-image: linear-gradient(125deg, rgb(208, 111, 195), rgb(205, 0, 160));
  padding: 20px 16px!important;
  border-radius: 5px;
}

.event-list #img3 {
  background-image: linear-gradient(125deg, rgb(101, 196, 145), rgb(57, 230, 136));
  padding: 20px 18px!important;
  border-radius: 5px;
}

.img {
  font-size: 1.8em;
  color: white;
  font-weight: bolder;
}

.date-events {
  font-size: 12px;
  color: rgb(99, 99, 99, .5);
}

.num-attachment {
  color: #5184e7;
}

/* CREATE EVENT PANEL */
.btn-cancel {
  padding: 10px 20px;
  color: rgb(124, 124, 124);
  background-color: rgb(230, 238, 244, .6);
  border-radius: 5px;
}

.btn-cancel:hover {
  color: rgb(124, 124, 124);
  text-decoration: none;
  background-color: rgb(230, 238, 244);
  transition: .2s;
  transition-timing-function: ease-out;
}

.label-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.label-checkbox input{
  position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.label-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a green background */
.label-checkbox input:checked ~ .checkmark {
    background-color: #3bb95b;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.label-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.label-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* SIDEPANEL CONTENTS */
.side-panel img {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.date-calendar {
  font-size: 15px;
  color: rgb(99, 99, 99, .5);
}

@media only screen and (min-width: 1366px) {
    /* For mobile phones: */
    div.side-panel {
        position: fixed;
        top: 50px;
        right: 0;
        height: 100%;
        overflow: hidden;
    }
}
