@font-face {
      font-family: 'font-law';
      src: url('./font/font-law.eot?14602923');
      src: url('./font/font-law.eot?14602923#iefix') format('embedded-opentype'),
           url('./font/font-law.woff?14602923') format('woff'),
           url('./font/font-law.ttf?14602923') format('truetype'),
           url('./font/font-law.svg?14602923#font-law') format('svg');
      font-weight: normal;
      font-style: normal;
    }


    .demo-icon
    {
      font-family: "font-law";
      font-style: normal;
      font-weight: normal;
      speak: none;
      font-size: 20px;
      text-decoration: none;

      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: auto;
      text-align: left;
      /* opacity: .8; */

      /* For safety - reset parent styles, that can break glyph codes*/
      font-variant: normal;
      text-transform: none;

      /* fix buttons height, for twitter bootstrap */
      line-height: 1em;

      /* Animation center compensation - margins should be symmetric */
      /* remove if not needed */
      margin-left: 0;

      /* You can be more comfortable with increased icons size */
      /* font-size: 120%; */

      /* Font smoothing. That was taken from TWBS */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      /* Uncomment for 3D effect */
      /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    }

    .demo-icon:hover {
      text-decoration: none;
    }

    .icon-database-stack {
      font-size: 17px;
    }

    .database-icon {
      font-size: 17px!important;
    }

body {
  background-color: rgb(230, 238, 244, .4);
  font-family: 'Molengo', sans-serif;
  overflow-x: hidden;
  font-weight: lighter;
}

.wrapper {
  display: flex;
  width: auto;
}

/* SIDEBAR */
#sidebar {
  min-width: 80px;
  background: white;
  color: #007bff;
  transition: all .3s;
  height: 100%;
  border-right: 1px solid #dddddd;
  position: fixed;
  animation: moveRight 2s ease;
}

#sidebar .sidebar-header{
  background: white;
  text-align: center;
}

.logo-brand {
  width: 70px;
  height: 50px;
  margin-top: 15px;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul li a {
  margin: 20px 0;
  padding: 5px 0;
  display: block;
  font-size: 1.1em;
  text-align: center;
  color: #007bff;
}

.sidenav-icon:before {
  content:".";
  height: 100%;
  width: 6%;
  font-size: 25px;
  margin-right: 5px;
  background-color: #007bff;
  color: #007bff;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  float: left;
  transition: .2s;
  transition-timing-function: ease-out;
}

.sidenav-icon{
  height: 37px;
  transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
}


/* TOPBAR */
.top-navbar {
  animation: moveDown 2s ease;
}

.navbar-toggler {
  border: none;
}

.navbar-light .navbar-toggler-icon {
  background-image: url('./assets/toggle-menu.svg');
  border: none;
  outline: none;
}

.navbar-toggler {
  padding: 0;
}

.navbar-toggler:active {
  transform: scale(1.5);
  transition: .2s;
  transition-timing-function: ease-out;
  box-shadow: 0px 5px 2px rgb(170, 204, 255, .5);
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
}

.icon {
  width: 15px;
  height: 15px;
  margin: 0 5px 0 0;
}

.btn-invite {
  font-size: 14px;
  padding: 7px;
  margin-top: 10px;
  margin-right: 13px;
  border: 1px solid #007bff;
  border-radius: 5px;
  color: #007bff!important;
}

.btn-invite:hover {
  transform: translatey(-5%);
  box-shadow: 0px 2px 1px 1px rgb(81, 132, 231, .5);
  cursor: pointer;
  transition: .2s;
  transition-timing-function: ease-out;
}

.bg-light {
  background-color: white!important;
}

.search {
  position: relative;
  background: transparent;
  font-size: 15px;
  padding: 10px auto;
  display: flex;
  border: none;
}

.fa-search {
  top: 24px;
  font-size: 15px;
  opacity: .6;
  width: 20px;
}

.topbar{
  padding: 0 0!important;
  margin-left: 80px;
}

nav {
  min-height: 80px!important;
  border-bottom: 1px solid #ddd;
}

/* EVENT LIST PANEL */
.h3 {
  font-weight: lighter;
}

.main-panel .row-panel{
  min-height: 87vh;
}

.side-panel {
  background: white;
  border-left: 1px solid #ddd;
}

.side-panel1 {
  background: white;
  border-left: 1px solid #ddd;
}

.btn-create {
  transform: translateY(-20%);
  border: 1px solid #007bff;
  border-radius: 3px;
  padding: 2px 5px;
  font-size: 12px;
  background-color: #007bff;
  color: white;
}

.btn-create:hover {
  color: white;
  background-color: #87a8e9;
  border-color: #87a8e9;
  text-decoration: none;
  transition: .2s;
  transition-timing-function: ease-out;
}

.event-list {
  background: white!important;
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 2px rgb(221, 221, 221, .2);
  animation: moveUp 2s ease-in-out;
}

.event-list:hover {
  transform: translateY(-5%);
  transition: .1s;
  transition-timing-function: ease-in;
  cursor: pointer;
  box-shadow: 0px 5px rgb(221, 221, 221, .5);
}

.event-list-contents {
  font-size: 13px!important;
  color: rgb(99, 99, 99, .8);
}

.event-list #img {
  background-image: linear-gradient(125deg, rgb(233, 219, 183), rgb(214, 120, 33), rgb(214, 120, 33));
  padding: 20px 25px!important;
  border-radius: 5px;
}

.event-list #img1 {
  background-image: linear-gradient(125deg, rgb(143, 98, 227), rgb(95, 33, 198));
  padding: 20px 32px!important;
  border-radius: 5px;
}

.event-list #img2 {
  background-image: linear-gradient(125deg, rgb(208, 111, 195), rgb(205, 0, 160));
  padding: 20px 16px!important;
  border-radius: 5px;
}

.event-list #img3 {
  background-image: linear-gradient(125deg, rgb(101, 196, 145), rgb(57, 230, 136));
  padding: 20px 18px!important;
  border-radius: 5px;
}

.img {
  font-size: 1.8em;
  color: white;
  font-weight: bolder;
}

.date-events {
  font-size: 12px;
  color: rgb(99, 99, 99, .5);
}

.num-attachment {
  color: #007bff;
}


/* CREATE EVENT PANEL */
.btn-cancel {
  transform: translateY(-15%);
  padding: 7px 20px;
  color: rgb(124, 124, 124);
  background-color: rgb(230, 238, 244, .6);
  border-radius: 5px;
}

#btn-cancel-2 {
  margin: 10px 0!important;
}

.form-control {
  padding: 24px;
}

select {
  height: 52px!important;
}

.container-datepicker {
  padding: 13.5px!important;
}

.btn-cancel:hover {
  color: rgb(124, 124, 124);
  text-decoration: none;
  background-color: rgb(230, 238, 244);
  transition: .2s;
  transition-timing-function: ease-out;
}

#btn-cancel-2 {
  font-size: 19px!important;
}

.input-time {
  padding:13px 10px;
  width: 80%;
}

.time-input {
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 52px;
}

.btn-time {
  border: none;
  width: 100%;
  height: 100%;
  font-size: 11.5px;
  padding: 0 15px;
  border-left: 1px solid #ddd;
  background: transparent;
  cursor: pointer;
}

.btn-time:first-child {
  border-bottom: 1px solid #ddd;
  border-top-right-radius: 4px;
}

.btn-time:last-child {
  border-bottom-right-radius: 4px;
}

.agreement-text {
  opacity: .6
}

.btn-time:hover {
  background-color: #ddd;
  transition: .3s;
  transition-timing-function: ease-in-out;
}

.btn-notes {
  color: #007bff!important;
  text-decoration: none;
  font-size: 14px;
  padding-right: 5px;
}

.btn-edit-remove {
  padding: 0 5px;
  font-size: 14px;
  color: grey!important;
}

#btn-file-upload {
  padding: 5px 7px!important;
  font-size: 14px;
  transform: translateY(-15%);
}

.custom-text-file {
  color: grey;
}

.custom-text-file:before {
  content: "";
  display: block;
  background: url("./assets/icon-file.svg") no-repeat;
  width: 25px;
  height: 25px;
  float: left;
  margin: 0 10px 0 0;
  text-align: center;
}

.drag-drop-upload{
  width: 20px;
  height: 20px;
}


.second-card, .first-card {
  animation: fadeIn 2s ease-in-out;
}

.second-card {
}

.members {
  font-size: 14px;
  margin-top: 10px;
  list-style: none;
}

.member-image:hover {
  transform: translateY(-5%);
  cursor: pointer;
  box-shadow: 0px 5px 2px rgb(213, 213, 213);
  transition: .2s;
  transition-timing-function: ease-in;
}

#member-image-1 {
  background-color: rgb(255, 235, 242);
  color: rgb(244, 83, 141);
  border-radius: 3px;
  width: 35px;
  height: 32px;
  padding: 5px;
  margin-right: 8px;
  text-align: center;
  position: relative;
}

#member-image-1::after {
  content: "\2713";
  color: #FFFFFF;
  width: 15px;
  height: 15px;
  font-size: 11px;
  font-weight: bolder;
  top: -5px;
  right: -5px;
  position: absolute;
  display: block;
  background-color: rgb(244, 83, 141);
  border-radius: 50%;
}

#member-image-2 {
  background-color: rgb(237, 249, 255);
  color: rgb(58, 169, 240);
  border-radius: 3px;
  width: 35px;
  height: 32px;
  padding: 5px;
  margin-right: 8px;
  text-align: center;
  position: relative;
}

#member-image-2::after {
  content: "\2713";
  color: #FFFFFF;
  width: 15px;
  height: 15px;
  font-size: 11px;
  font-weight: bolder;
  top: -5px;
  right: -5px;
  position: absolute;
  display: block;
  background-color: rgb(58, 169, 240);
  border-radius: 50%;
}

#member-image-3 {
  background-color: rgb(252, 252, 225);
  color: rgb(255, 225, 20);
  border-radius: 3px;
  width: 35px;
  height: 32px;
  padding: 5px;
  margin-right: 8px;
  text-align: center;
  position: relative;
}

#member-image-3::after {
  content: "\2713";
  color: #FFFFFF;
  width: 15px;
  height: 15px;
  font-size: 11px;
  font-weight: bolder;
  top: -5px;
  right: -5px;
  position: absolute;
  display: block;
  background-color: rgb(255, 225, 20);
  border-radius: 50%;
}

#member-invite {
  border: 1px solid #007bff;
  border-radius: 3px;
  color: #007bff;
  width: 45px;
  height: 30px;
  padding: 3.5px;
  margin-right: 8px;
  text-align: center;
  cursor: pointer;
}

#member-invite:hover {
  transform: translateY(-5%);
  cursor: pointer;
  box-shadow: 0px 5px 2px rgb(213, 213, 213);
  transition: .2s;
  transition-timing-function: ease-in;
}

.label-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.label-checkbox input{
  position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.label-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a green background */
.label-checkbox input:checked ~ .checkmark {
    background-color: #5cc977;
}

.label-blue input:checked ~ .checkmark {
    background-color: #007bff!important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.label-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.label-checkbox .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#real-file-input {
  display: none;
}

.drop-files {
  border: 2px dashed #6fb4ff;
  border-radius: 10px;
  padding: 50px;
  margin-top: 50px;
  color: #007bff;
}

.btn-invite-email {
  border: 1px solid blue;
  background: blue;
  color: white;
  padding: 2px 5px;
}

.btn-primary {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  color: white!important;
}

.container-datepicker {
  width: 100%!important;
  background-color: transparent;
  border: 1px solid #d0d0d0;
  padding: 5px 10px;
  border-radius: 5px;
}


/* SIDEPANEL CONTENTS */
.side-panel img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 5px rgb(152, 152, 152, .1);
}

.side-panel1 img{
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.side-panel1 .img {
  background-color: rgb(101, 101, 101);
  border-radius: 5px;
}

.date-calendar {
  font-size: 15px;
  font-weight: bolder;
  color: rgb(99, 99, 99, .5);
}

.view-file-link {
  font-size: 12px;
  border: none;
  outline: none;
  background: transparent;
  color: #007bff;
  cursor: pointer;
  padding: 0;
}

.view-file-link:hover {
  text-decoration: underline;
  color: #046bd9;
}

.progress {
  background-color: rgb(0, 123, 255, .1)!important;
}

.file-size {
  color: grey;
  font-size: 14px;
}

.byte-ext {
  font-size: 10px;
}

/* BOTTOM BAR */
.bottom-bar {
  padding-bottom: 0;
}

.link-bottom-bar {
  margin-left: 12px;
  margin-right: 12px;
}

.style-bottom {
  display: block;
  position: relative;
}

.botnav-icon {
  height: 3px;
  width: 100%;
  background-color: #007bff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
}

.style-bottom .botnav-icon {
  height: 3px;
  width: 130%!important;
  background-color: #007bff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

/* ANIMATION */
@keyframes moveUp {
  from {
    transform: translateY(200%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1
  }
}

@keyframes moveDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



@media only screen and (min-width: 768px){
  div.side-panel {
      position: fixed;
      top: 50px;
      right: 0;
      height: 100%;
      overflow: hidden;
      animation: moveLeft 2s ease!important;
  }

  #logo-brand {
    display: none;
  }

  .side-panel1 img {
    box-shadow: 1px 1px 10px 5px rgb(152, 152, 152, .2);
  }

  .bottom-bar {
    display: none;
  }

  #btn-cancel-1 {
    display: none;
  }
}

@media only screen and (max-width: 768px){
  h2 {
    font-size: 25px;
    margin-top: 0!important;
    margin-bottom: 15px;
  }
  .topbar {
    margin-left: 0;
    animation: moveDown 2s ease-in;
  }

  .main-panel{
    margin-bottom: 75px;
  }

  #logo-brand {
    width: 30px;
    height: 40px;
    margin-right: 5px;
  }

  .search {
    width: auto;
  }

  .demo-icon {
    font-size: 20px;
    margin-left: .2em;
    margin-right: .2em;
  }

  .style-bottom .botnav-icon {
    height: 3px;
    width: 145%!important;
  }

  .demo-icon:hover {
    text-decoration: none;
  }

  #sidebar {
    display: none;
  }

  .create-event, .create-event input, .create-event .btn {
    font-size: 1em!important;
  }

  .input-group-append {
    font-size: .8em;
  }

  nav.bottom-bar {
    min-height: 50px!important;
    border-top: 1px solid rgb(76, 159, 249, .5);
  }

  .side-panel{
    border: none;
  }

  #btn-cancel-2 {
    display: none;
  }

}

@media (max-width: 320px) {
  nav.bottom-bar {
    min-height: 40px!important;
    border-top: 1px solid rgb(76, 159, 249, .5);
  }

  .search {
    font-size: 11px;
  }

  .demo-icon {
    font-size: 18px;
    margin-right: 0!important;
    margin-left: 0;
  }
}
